/* ================
 Common Style here
=================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Lato;
    line-height: 0.8;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.sec_heading{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.sec_pera{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;
}
/* ================
 Common Style here
=================== */

/*======================
 Banner Part Starts Here
 =======================*/
.banner{
    background: rgba(229, 84, 115, 0.10);
}
.banner_cont{
    display: flex;
    justify-content: space-between;
}
.banner_column{
    width: 50%;
    padding-bottom: 150px;
}
.banner_heading{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-top: 200px;
}
.banner_text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 32px 0 35px;
}
.banner_btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    background: #E55473;
}
.banner_img {
    background-image: url("./Asset/banner.png");
    background-position: right;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 635px;
    height: 800px;
    margin-top: 50px;
}
/*====================
 Banner Part Ends Here
 =====================*/

/*========================= 
 Featured part starts here
===========================*/
.feature{
    padding-top: 178px;
}
.ftr_cont{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    margin-top: 42px;
}
.ftr_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.ftr_box img{
    width: 410px;
    height: 520px;
    padding: 100px 78px 0 78px;
    object-fit: fill;
}
.ftr_img_1{
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    -webkit-border-radius: 300px 300px 0px 0px;
    -moz-border-radius: 300px 300px 0px 0px;
    -ms-border-radius: 300px 300px 0px 0px;
    -o-border-radius: 300px 300px 0px 0px;
}
.ftr_img_2{
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    -webkit-border-radius: 300px 300px 0px 0px;
    -moz-border-radius: 300px 300px 0px 0px;
    -ms-border-radius: 300px 300px 0px 0px;
    -o-border-radius: 300px 300px 0px 0px;
}
.ftr_img_3{
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    -webkit-border-radius: 300px 300px 0px 0px;
    -moz-border-radius: 300px 300px 0px 0px;
    -ms-border-radius: 300px 300px 0px 0px;
    -o-border-radius: 300px 300px 0px 0px;
}
.ftr_btn{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: underline;
    padding-bottom: 128px;
}
.ftr_extra{
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
    padding: 86px 175px 86px 175px;
    background: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.extra_colmn {
    text-align: center;
}
.extra_colmn img{
    width: 88px;
    height: 88px;
}
.extra_heading{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding-top: 25px;
}
/*====================== 
 Featured part ends here
========================*/

/*======================== 
 Deal section starts here 
==========================*/
.hot_deal{
    background-color: rgba(229, 84, 115, 0.05);
}
.deal_container{
    display: flex;
    justify-content: center;
    gap: 186px;
}
.left_container{
    width: 40%;
    text-align: center;
}
.deal_heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    padding: 230px 10px 24px;
}
.deal_pera{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 30px;
    margin-bottom: 50px;
}
.deal_btn{
    padding: 15px 35px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.deal_img{
    background-image: url("./Asset/deal.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    height: 420px;
    margin: 100px 0;
}
/*====================== 
 Deal section ends here 
========================*/
